
body{
	/*background-color: #8080c0;*/
	background-image: url(https://img.freepik.com/free-photo/creative-treble-clef-sign-isolated-generative-ai_169016-29569.jpg);
	text-align:center;
	color:black;
	
	
	background-size: cover;

}
a{
	color:black;
	font-size: 18px;
}
/*https://wallpaperaccess.com/full/3728164.jpg*/